/* .box-name {  font-family: "Roboto Regular";
}
 font-family: 'Bank Gothic';
*/
* {
  font-family: "Roboto Regular";
  color: #020126;
}
.wrapper_first_section {
  background: url(../img/first.jpg) center center/cover no-repeat;
}
.header {
  min-height: 61px;
}
nav {
  border-bottom: 1px solid #020126;
  margin-left: 82px;
  margin-right: 79px;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  position: relative;
}
.menu_logo {
  margin: 32px 0 8px 0;
  font-family: Bank Gothic;
  font-size: 20px;
  font-weight: bold;
}
.menu_lang {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ACTIVE {
  background: #0568fa;
  margin: 23px 0 8px 5px;
}
.dropdown-menu {
  min-width: 30px;
  border: 0;
}
.log_work {
  height: 639px;
  width: 461px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  list-style-type: none;
}
.menu_log {
  position: absolute;
  top: 24px;
  right: 0;
}
.monitoring {
  min-height: 825px;
  padding: 43px 77px 104px 83px;
  display: flex;
  justify-content: space-between;
}
.monitoring_header {
  font-family: "Playfair Display Regular";
  margin-top: 127px;
  font-size: 58px;
  line-height: 77px;
}
.monitoring_list {
  margin-top: 46px;
  margin-bottom: 0;
  font-family: "Playfair Display Regular";
  font-size: 20px;
  line-height: 27px;
}
.monitoring_item {
  font-family: "Playfair Display Regular";
  font-size: 20px;
  line-height: 27px;
  padding-left: 0rem;
}
.monitoring_btn {
  margin-top: 98px;
  margin-left: 300px;
  box-shadow: 4px 4px 2px #0059dc;
  padding: 17px 80px;
  width: 192px;
  height: 53px;
  color: #0568fa;
  font-size: 16px;
  background: #f5f5f5;
  transition: all 20ms ease-in-out;
}
.monitoring_btn:hover {
  border: 2px solid #0568fa;
  color: #020162;
  background: #f5f5f5;
}
aside {
  position: relative;
  margin-left: 132px;
}
.monitoring_form {
  width: 303px;
  margin-left: 108px;
}
.monitoring_form::before {
  content: "";
  display: block;
  width: 85px;
  height: 678px;
  background: #0568fa;
  position: absolute;
  border-radius: 100px 0px 0px 100px;
  left: 0;
  top: 0;
}
.monitoring_form_registration {
  font-size: 20px;
  line-height: 24px;
  margin-top: 29px;
}
.monitoring_form_or {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 29px;
}
.monitoring_form_or a {
  font-weight: bold;
  text-decoration: none;
  color: #020126;
}

.monitoring_form_signature {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
}

.monitoring_form_textarea {
  height: 40px;
  width: 303px;
  border: 0;
  background: #e1e9f0;
  margin-top: 10px;
}
.monitoring_form_forget {
  margin-top: 6px;
  display: block;
  color: #020126;
}
.monitoring_form_checkbox {
  margin-top: 30px;
  width: 20px;
  height: 20px;
  background: #e1e9f0;
  border: 0;
  display: inline;
  transform: translate(-1px, 5px);
}
.monitoring_form_confirm {
  margin-left: 5px;
  font-size: 14px;
  line-height: 20px;
  display: inline;
}
.monitoring_form_confirm a {
  text-decoration: none;
  font-weight: bold;
  color: #020126;
}

.monitoring_form_btnNext {
  margin-top: 29px;
  width: 303px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
}
.monitoring_form__Google {
  margin-top: 32px;
  background: #e1e9f0;
  color: #4f4f4f;
  border: 0;
}
.popUp {
  background-color: bisque;
}
.log_work {
  padding: 65px 79px;
}
.log_work_welcome {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.log_work_come {
  margin-top: 3px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.log_work_form {
  text-align: center;
  margin-top: 44px;
}
.log_work_mail {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
.log_work_password {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-top: 15px;
}
.log_work_textarea {
  height: 40px;
  width: 303px;
  border: 0;
  background: #e1e9f0;
  margin-top: 10px;
}
.log_work_forgetPassword {
  text-align: center;
  margin-top: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.log_work_btnNext {
  width: 303px;
  height: 40px;
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.log_work_question {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.log_work_question span {
  font-weight: bold;
}
.log_work_or {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-top: 30px;
}
.log_work_or_wrap {
  position: relative;
}
.log_work_or::before {
  content: "";
  display: block;
  width: 131px;
  height: 0.1px;
  background: #191970;
  left: 0;
  top: 50%;
  position: absolute;
}
.log_work_or::after {
  content: "";
  display: block;
  width: 131px;
  height: 0.1px;
  background: #191970;
  right: 0;
  top: 50%;
  position: absolute;
}
.log_work_Google {
  margin-top: 24px;
  background-color: #e1e9f0;
  color: #4f4f4f;
  border: 0;
}
